[submodule "mmdetection"]
	path = mmdetection
	url = https://github.com/thomaspaniagua/iVMCL-MMDetection.git
[submodule "mmcv"]
	path = mmcv
	url = https://github.com/thomaspaniagua/iVMCL-MMCV.git
[submodule "mmgeneration"]
	path = mmgeneration
	url = https://github.com/thomaspaniagua/iVMCL-MMGeneration.git
